[submodule "pymachinetalk"]
    path = pymachinetalk
    url = git@github.com:strahlex/pymachinetalk.git
    branch = param
    ignore = dirty
[submodule "machinetalk-protobuf"]
    path = machinetalk-protobuf
    url = git@github.com:strahlex/machinetalk-protobuf.git
    branch = param
    ignore = dirty
[submodule "machinekit"]
    path = machinekit
    url = git@github.com:strahlex/machinekit.git
    branch = develop
    ignore = dirty
[submodule "libelektra"]
    path = libelektra
    url = git@github.com:strahlex/libelektra.git
    branch = master
    ignore = dirty
[submodule "paramserver"]
    path = paramserver
    url = git@github.com:strahlex/paramserver.git
    branch = master
    ignore = dirty
[submodule "mkwrapper-sim"]
    path = mkwrapper-sim
    url = git@github.com:strahlex/mkwrapper-sim.git
    branch = param
    ignore = dirty
