[submodule "pymachinetalk"]
	path = pymachinetalk
	url = git@github.com:strahlex/pymachinetalk.git
	branch = param
[submodule "machinetalk-protobuf"]
	path = machinetalk-protobuf
	url = git@github.com:strahlex/machinetalk-protobuf.git
[submodule "machinekit"]
	path = machinekit
	url = git@github.com:strahlex/machinekit.git
	branch = develop
